footer {
    padding-bottom: 90px;

    .footer-top {
        .main-container {
            .footer-row {
                .footer-block {
                    .block-title {
                        font-weight: bold;
                    }

                    ul {
                        padding: 0;

                        li {
                            list-style: none;
                            padding: 5px 0;
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }

    .footer-bottom {

        .copyright {
            font-size: 12px;
        }
    }
}
