@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css");
* {
  --color-main: #f04e30;
  --color-dark-1: #d8462b;
  --color-dark-2: #c03e26;
  --color-dark-3: #a83722;
  --color-dark-4: #902f1d;
  --color-dark-5: #782718;
  --color-light-1: #f26045;
  --color-light-2: #f37159;
  --color-light-3: #f5836e;
  --color-light-4: #f69583;
  --color-light-5: #f8a798;
  --color-grey: #58595B;
  --secondary-white: #f6f6f6;
  --font-main: "Montserrat", sans-serif;
}

body {
  color: #58595B;
  font-family: var(--font-main);
  min-height: 200vh;
}

a {
  text-decoration: none;
  color: inherit;
}

.main-container {
  width: 95%;
  margin: auto;
}

.active {
  background-color: var(--color-main);
  color: #fff !important;
  border-radius: 5px;
}

.anchor-right-btn::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 47%;
  translate: -50% -50%;
  height: 8px;
  width: 8px;
  border-top: 3px solid #fff;
  border-right: 3px solid #fff;
  transform: rotate(45deg);
  pointer-events: none;
  border-radius: 1px;
}

.navbar .logo {
  height: 100px;
  width: auto;
}
.navbar .navbar-nav .dropdown .dropdown-menu {
  border-radius: 15px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.14);
  background-color: #fff;
  padding: 10px 20px;
  border: none;
}
.navbar .navbar-nav .active {
  color: var(--color-main);
}
.navbar .navbar-nav .nav-item .nav-link {
  transition: color 0.2s ease-in-out;
}
.navbar .navbar-nav .nav-item .nav-link:hover {
  color: var(--color-light-2);
}
.navbar .navbar-nav .nav-item .nav-link::after {
  display: none;
}
.navbar .feedback-contact {
  display: flex;
  gap: 10px;
}
.navbar .feedback-contact a {
  font-weight: 700;
  display: flex;
  padding: 10px 18px;
  border-radius: 40px;
  border: 1px solid var(--color-main);
  color: var(--color-grey);
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}
.navbar .feedback-contact a:hover {
  background-color: var(--color-light-1);
}
.navbar .feedback-contact .call-back {
  color: #fff;
  background-color: var(--color-main);
}
.navbar .feedback-contact .call-back:hover {
  background-color: var(--color-dark-1);
}
.navbar .bi-chevron-down {
  height: 15px;
}

@media (max-width: 768px) {
  .nav {
    color: red;
  }
}
.top-banner {
  position: relative;
}
.top-banner .search-wrapper {
  position: absolute;
  z-index: 99;
  top: 0;
  left: 0;
  right: 0;
  border-radius: 0 0 28px 28px;
  padding: 4px 15px 15px;
  background-color: #fff;
  width: 540px;
  max-width: 100%;
  margin: auto;
}
.top-banner .search-field {
  position: relative;
}
.top-banner .search-field .search-box {
  font-weight: 700;
  border: 1px solid var(--primary);
  outline: 0;
  padding: 3px 60px 3px 25px;
  font-size: 13px;
  width: 100%;
  border-radius: 35px;
  height: 48px;
  background-color: var(--color-main);
  color: #fff;
}
.top-banner .search-field .search-icon {
  background-color: #fff;
  text-align: center;
  border: 0;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  position: absolute;
  right: 7px;
  top: 5px;
  cursor: pointer;
}
.top-banner .floating-tab {
  background-color: #f0f0f0;
  display: flex;
  box-shadow: 0 0 20px #f0f0f0;
  border-radius: 15px;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  left: 50%;
  bottom: -45px;
  transform: translate(-50%, 0);
  width: calc(90% - 40px);
  z-index: 99;
  overflow: hidden;
}
.top-banner .floating-tab a {
  border-right: 1px solid rgba(0, 0, 0, 0.08);
  padding: 10px 25px;
  display: flex;
  align-items: center;
  flex: 1;
  font-size: 14px;
  font-weight: 600;
  transition: 0.5s;
  justify-content: center;
  min-height: 80px;
}
.top-banner .floating-tab a img {
  height: 35px;
  width: auto;
}
.top-banner .floating-tab a:hover {
  background-color: var(--color-light-2);
  color: #fff;
}
.top-banner .floating-tab .left-hover {
  border-radius: 15px 0 0 15px;
}
.top-banner .floating-tab .right-hover {
  border-radius: 0 15px 15px 0;
}

.specialities {
  background-color: var(--secondary-white);
}
.specialities .main-container .specialities-inner .sp-inner-heading {
  flex: 4;
}
.specialities .main-container .specialities-inner .sp-inner-care {
  flex: 4;
}
.specialities .main-container .specialities-inner .sp-inner-care .sp-wrapper {
  padding: 5px;
}
.specialities .main-container .specialities-inner .sp-inner-care .sp-wrapper a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}
.specialities .main-container .specialities-inner .sp-inner-care .sp-wrapper a img {
  height: 35px;
  width: 35px;
  margin-right: 1rem;
}
.specialities .main-container .specialities-inner .sp-inner-care .sp-wrapper a:hover {
  color: var(--color-light-2);
}
.specialities .main-container .specialities-inner .sp-inner-search {
  flex: 5;
}
.specialities .main-container .specialities-inner .sp-inner-search .sp-wrapper .sp-search-by a {
  display: inline-block;
  width: 30%;
  border: 1px solid var(--color-grey);
  border-radius: 40px;
  text-align: center;
  padding: 10px;
  transition: 0.5s;
  text-transform: capitalize;
  font-style: normal;
  font-weight: 600;
  font-size: 0.8rem;
}
.specialities .main-container .specialities-inner .sp-inner-search .sp-wrapper .sp-search-by a:hover {
  background-color: var(--color-light-2);
  color: #fff;
}
.specialities .main-container .specialities-inner .sp-inner-search .sp-wrapper .sp-search-letter {
  max-width: 500px;
  display: flex;
  flex-wrap: wrap;
  text-transform: capitalize;
  margin-top: 30px;
}
.specialities .main-container .specialities-inner .sp-inner-search .sp-wrapper .sp-search-letter .letter-wrap {
  position: relative;
  width: 16.66%;
  padding: 0 10px;
  margin-bottom: 20px;
}
.specialities .main-container .specialities-inner .sp-inner-search .sp-wrapper .sp-search-letter .letter-wrap a {
  display: block;
  padding-bottom: 100%;
  position: relative;
}
.specialities .main-container .specialities-inner .sp-inner-search .sp-wrapper .sp-search-letter .letter-wrap a span {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: 0 0 22px #ddd;
  text-align: center;
  border-radius: 50%;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  transition: 0.2s;
}
.specialities .main-container .specialities-inner .sp-inner-search .sp-wrapper .sp-search-letter .letter-wrap a span:hover {
  color: #fff;
  background-color: var(--color-light-2);
}

.hover-btn-link {
  transition: gap 0.2s ease-out, color 0.2s ease-out;
  gap: 0.5rem;
}
.hover-btn-link:hover {
  gap: 0.8rem;
  color: var(--color-light-2);
}
.hover-btn-link .orange-right {
  background-color: var(--color-main);
  color: #fff;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  position: relative;
}

.mobile-sticky-link {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
}
.mobile-sticky-link ul li {
  list-style: none;
}
.mobile-sticky-link ul li a {
  text-align: center;
}
.mobile-sticky-link ul li img {
  height: 35px;
  width: 35px;
}/*# sourceMappingURL=index.css.map */