#health-library-download {
   .main-container {
      .heading-group {
         position: relative;

         .button {
            position: absolute;
            top: 0;
            right: 0;

            @media (max-width:768px) {
               display: none !important;
            }
         }
      }

      .download-slider {
         .download-card {
            box-shadow: 0 4px 19px rgba(0, 0, 0, 0.1);
            border-radius: 20px;
            height: 100%;
            overflow: hidden;
            margin: 15px;

            .heading-sm {
               line-height: 25px;
               height: 50px;
               overflow: hidden;
               text-overflow: ellipsis;
            }
         }
      }

      .mobile-btn {
         display: flex;
         justify-content: center;

      }
   }
}