#technology {
   .main-container {
      .heading-group {
         position: relative;

         .button {
            @media (max-width:768px) {
               display: none !important;
            }

            position: absolute;
            top: 4px;
            right: 2%;
         }
      }

      .technology-slider {
         .tech-card {
            background-color: var(--color-white);
            justify-content: space-between;
            box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);

            .img-wrapper {
               flex: 2;
            }

            img {
               // max-width: 250px;
               height: 100%;
               aspect-ratio: 1/1;
               object-fit: cover;
               border-radius: 16px;
            }

            .body {
               flex: 3;

               .heading-sm {
                  line-height: 25px;
                  height: 50px;
                  overflow: hidden;
                  text-overflow: ellipsis;
               }

               .para-wrap {
                  line-height: 18px;
                  height: 72px;
                  overflow: hidden;
                  text-overflow: ellipsis;
               }
            }
         }
      }

      .mobile-btn {
         display: flex;
         justify-content: center;
      }
   }
}