#single-service-middle-image {
    .image-main {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        align-items: center;
        gap: 20px;

        @media (max-width: 991px) {
            flex-direction: column;
            gap: 0;
        }

        .image-left,
        .image-right {
            width: 35%;

            @media (max-width: 991px) {
                width: 100%;
            }

            ul {
                margin: 0;
                padding: 0;
                list-style: none;

                li {
                    padding-bottom: 25px;
                    margin-bottom: 25px;
                    border-bottom: 1px dashed var(--color-black);
                    font-size: 18px;
                    font-weight: 500;

                    &:last-child {
                        border-bottom: none;
                    }
                }
            }
        }

        .image-left {
            order: 1;

            @media (max-width: 991px) {
                order: 2;
                li {
                    border-bottom: 1px dashed var(--color-black) !important;
                }
            }
        }

        .image-middle {
            max-width: 350px;
            max-height: 350px;
            width: 100%;
            height: 100%;
            aspect-ratio: 1/1;
            flex-shrink: 0;
            order: 2;
            padding: 15px;
            border-radius: 50%;
            align-self: center;
            border: 1px dashed var(--color-black);
            overflow: hidden;

            @media (max-width: 991px) {
                order: 1;
                margin-bottom: 25px;
            }

            img {
                border-radius: 50%;
                width: 100%;
                height: 100%;
                aspect-ratio: 1/1;
                object-fit: cover;
            }
        }

        .image-right {
            order: 3;
        }
    }
}