#about-mission {
    &:nth-of-type(odd) {
        .content {
            flex-direction: row !important;
        }
    }
   .content {
      display: flex;
      flex-direction: row-reverse;
      gap: 50px;

      @media (max-width: 768px) {
         flex-direction: column;
      }

      .img-wrapper {
         align-self: center;
         width: 50%;
         max-height: 500px;
         height: 100%;
         overflow: hidden;
         border-radius: 20px;

         @media (max-width: 768px) {
            width: 100%;
            padding: 0;
         }

         img {
            width: 100%;
            height: auto;
            border-radius: 20px;
            object-fit: cover;
         }
      }

      .heading-sm {
         align-self: center;
         width: 50%;
         font-weight: 600;

         @media (max-width: 768px) {
            width: 100%;
         }
      }
   }
}