#dr-article {
   .article-card {
      margin: 15px;
      border-radius: 20px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
      background-color: var(--color-white);

      &:hover {
         color: initial !important;
      }

      .img-wrapper {}

      img {
         height: 100%;
         border-radius: 25px;
      }
      .body {
        .heading-sm {
            height: 3lh;
            overflow: hidden;
            text-overflow: ellipsis;
        }
      }
   }

   .all-btn {
      margin-top: 25px;
      display: flex;
      justify-content: center;

   }
}